// Variables
$font-primary: 'Shrikhand', cursive;
$background-light: #EAEAEA;
$color-bg: #f6f6f6;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-light: #ffffff;
$color-dark: #000;
$color-accent: #99E2D0;
$color-accent-dark: #278870;
$color-gray: whitesmoke;
$color-bg-footer: #353535;
$color-text: white;
$box-shadow-hover: 0 4px 10px 0 #afafaf;
$max-width-container: 1440px; 
$padding-horizontal: 10%;  
$padding-vertical: 30px;  
$font-size-title: 24px; 
$font-size-header:35px; 
$margin-bottom-title: 10px;  
$margin-left-title: 50px;
$column-gap: 130px;  
$container-width: 73%;  
$food-title-padding-left: 190px;  
$restaurant-card-width: 450px;  
$logo-love-font-size: 30px;  
$position-left: 86%;  
$position-bottom: 12%;
$footer-height: 100px;  
$footer-font-size: 24px;  
$footer-padding-right: 100px;  
$footer-padding-left: 50px;  
$footer-gap: 30px; 


// Définir les variables
$color-light: #f0f0f0;  // Couleur de fond claire
$color-dark: #000;  // Couleur de texte sombre
//boxshadow
$shadow-primary: 0px 4px 15px 0px #00000026;

// Reset CSS léger
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Supprimer les marges par défaut pour les éléments spécifiques
body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure, blockquote, dl, dd {
  margin: 0;
}

// Supprimer les styles des listes
ul, ol {
  list-style: none;
}

// Supprimer les décorations des liens
a {
  text-decoration: none;
  color: inherit;
}

// Gérer les médias (images, vidéos, etc.)
img, picture, video, canvas, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

// Configurer une typographie de base
html {
  font-family: sans-serif;
  font-size: 100%;  // Base de 16px
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  color: $color-dark;
}

// Réinitialiser les styles des tableaux
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Réinitialiser les styles des éléments de formulaire
button, input, textarea, fonctionnement {
  font: inherit;
}

// Supprimer les bordures et les styles des boutons et des champs sur mobiles
button, input {
  border: none;
  outline: none;
}


.main-container{
  animation-name: example;
  animation-duration: 4s;
}





// Header
header {
  .logo-site{
    display: flex;
    justify-content: center;
    text-align: center;   
  }
  img{
    padding: 20px 0px 20px 0px;
    width: 200Px;
  }
}

// Location Section
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 15px;
  padding-left: 70px;
  background: $background-light;

  input {
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
  }
}


// Frame Section
.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  background-color: $color-gray;

  h1{
    text-align: center;
    font-size: 24px;
    width: 80%;
  }

  p {
    text-align: center;
  }
}

// Button
button {
  background: linear-gradient(193.33deg, $color-primary -11.44%, $color-secondary 123.93%);
  border-radius: 25px;
  color: $color-light;
  text-align: center;
  height: 50px;
  width: 218px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 30px;

  &:hover {
    opacity: 0.88;
    box-shadow: $box-shadow-hover;
    cursor: pointer;
  }
}

//fonctionnemment



.fonctionnement {
 
 margin-top: 20px;
  background: #FFFFFF;
 padding-bottom: 40px;
}


.fonction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 15px;
}

.fonctionnement-fonction {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
  border: solid;
  border-radius: 20px;
  height: 72px;
  background: $color-bg;
  border: none;
  margin: 0 20px;
  background: $color-bg;
  box-shadow: $shadow-primary;
 
}

.text-fonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.numbre-fonctionnement {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background: $color-primary;
  position: relative;
  right: 10px;
  color: white;
}

.fas {
  &:hover {
    cursor: pointer;
    color: $color-primary;
  }
}

//restaurant


.food-restaurant {
  background: $color-bg;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
h2 {
  padding: 9px 0 20px 9px;
}
.restaurant-container{
  width: 95%;
  margin: auto;
}

.link{
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

 
  
  h3 {
    font-size: 18px;
    padding: 10px 0 0 9px;
 
  }

.restaurant-card {
  display: flex;
  flex-direction: column;
  background: $color-bg;
  height: 251px;
  position: relative;
  border-radius: 15px;
  box-shadow: $shadow-primary;

  img {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
    height: 175px;
  }

  .new {
    text-align: center;
    width: 80px;
    height: 30px;
    border-radius: 2px;
    background-color: $color-accent;
    color: $color-accent-dark;
    font-weight: 500;
    position: absolute;
    top: 20px;
    right: 20px;
    
  }

  p {
    padding-left: 10px;
  }
}

.logo-love {
  i {
    font-size: 20px;
    -webkit-text-stroke: white 1px;
    position: absolute;
    left: 86%;
    bottom: 13%;
   
  }
}

.fa {
  font-size: 20px;
  -webkit-text-stroke: white 1px;
  position: absolute;
  left: 86%;
  bottom: 11%;
  opacity: 0;
  display: inline-block;
  background: linear-gradient(193.33deg, $color-primary -11.44%, $color-secondary 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 1s;
 
  &:hover {
    opacity: 1;
  }
}

//footer


footer {
  background: $color-bg-footer;
  width: 100%;

.footer__title {
    font-family: $font-primary;
    font-weight: bold;
    font-style: italic;
    color: $color-text;
    margin: auto;
    padding-top: 10px;
    width: 90%;
    font-size: 18px;
  }

  ul {
    width: 90%;
    color: $color-text;
    margin: auto;
    font-size: 16px;

    a {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}


/* Para pantallas medianas (tabletas) */
@media (min-width: 768px) {
  .hero h1{
    font-size: 40px;
  }
  .main-container {
    max-width: $max-width-container;
    width: 100%;
    margin: auto;
  }
/**fonctionnement**/
.fonctionnement{
  display: flex;
  flex-direction: column;
  padding: 20px $padding-horizontal 50px ;
  h2 {
    font-size: $font-size-title;
  padding:9px;
  }
}


.fonction {

  flex-direction: row;
  justify-content: space-between;
}

.fonctionnement-fonction {
  width: 25%; 
 }
 .fonctionnement-fonction:hover{
  background-color: #F5EDFF;
 }

// restuarant
.food-restaurant{
  padding: 30px 9.6% 30px 10.6%;
}
.restaurant-card{
  row-gap: 4px;
  
}
.restaurant-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 98%;
}
.restaurant-card {
 
  transition: transform 0.7s ease; 
}
.restaurant-card:hover{
  transform: scale(1.02);
}
.link{
padding-bottom: 30px;
  width: 47%;
}



.fa i,
.logo-love i {
  font-size: $logo-love-font-size;
}

.logo-love i {
  -webkit-text-stroke: white 1px;
  position: absolute;
  left: $position-left;
  bottom: $position-bottom;
}
/***footer***/


footer {
  display: flex;
  flex-direction: row-reverse;
  height: $footer-height;

  .footer__title{
    width: auto;
    padding-right: $footer-padding-right;
    padding-left: $footer-padding-left;
    font-size: $footer-font-size;
  }

  ul {
    display: flex;
    justify-content: end;
    gap: $footer-gap;
  }
}

/***loeder***/
.loader-container{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
 animation: fadeOut 4s;
 opacity: 1;
 visibility: hidden;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  50%{
    opacity:0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader {
  width: 80px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px #9a5282 inset;
  border-radius: 50%;
  position: relative;
  animation: l11 7s infinite;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: calc(100% + 3px);
  left: calc(50% - 20px); 
  box-shadow: inherit;
  width: 40px; 
  aspect-ratio: 1;
  border-radius: 50%;
  transform-origin: 50% -45px; 
  animation: l11 1.5s infinite;
}
.loader:after {
  animation-delay: -0.75s;
}
@keyframes l11 {
  100% {
    transform: rotate(360deg);
  }
}
#page{
    animation: content-appear 3.5s ease-in-out both;
}
@keyframes content-appear {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
}